#main-content {
    display: flex;
    flex-direction: column;
    max-width: var(--content-max-width);
    margin: auto 0;
    padding: var(--content-padding);
}
#main-content > * {
    margin: 0;
}

#main-content > p {
    width: 100%;
    margin-bottom: var(--content-text-margin-bottom);
    text-align: justify;
    line-height: var(--content-line-height);
}
#main-content a {
    color: var(--content-text-color);
}

#main-content > h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: var(--h1-font-size);
    text-decoration: none;
    color: var(--content-color-h1);
}

#main-content > h2 {
    margin-top: var(--list-margin-bottom);
    margin-bottom: 8px;
    font-size: var(--h2-font-size);
    text-decoration: underline;
    color: var(--content-color-h2);
}

#main-content > h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--h3-color);
}

#main-content h4,
#main-content > h5,
#main-content > h6 {
    width: 100%;
    min-width: fit-content;
    margin: 0px;
    text-align: center;
    padding: var(--table-padding);
    border: var(--border-format);
    box-sizing: border-box;
}

#main-content > ul,
#main-content > ol {
    margin-bottom: var(--list-margin-bottom);
}
#main-content li {
    margin-bottom: var(--list-item-margin-bottom);
}

#flex-content {
    display: flex;
    gap: var(--table-gap);
}

#table {
    display: inline-block;
    flex-direction: column;
    align-items: stretch;
    max-width: 100%;
    width: fit-content;
    padding: 0px;
    border: var(--border-format);
    margin: 0;
    margin-bottom: var(--table-margin-bottom);
}

#main-content table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
#main-content table > thead th {
    font-weight: bold;
}
#main-content table > tbody td,
#main-content table > thead th {
    padding: var(--table-padding);
    border: var(--border-format);
}

#main-content code{
    margin-bottom: var(--content-text-margin-bottom);
}

#main-content > *:first-child {
    margin-top: 0;
}
#main-content > *:last-child {
    margin-bottom: 0;
}
