.modules {
    display: flex;
    flex-direction: column;
    width: var(--aside-width);
    min-width: var(--aside-width);
    height: 100%;
    border-right: var(--border-format);
    color: var(--navigation-color);
}

.modules span {
    padding: 15px 40px;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
    color: var(--highlight-color);
    border-bottom: var(--border-format);
    letter-spacing: 2px;
    background-color: #191b20;
}

.modules ol {
    flex: 1 1 auto;
    width: 100%;
    overflow-y: scroll;
    list-style-position: inside;
    background-color: var(--menu-bg-color);
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

.modules ol > * {
    margin: 10px 20px;
    text-align: left;
    color: #ffd86c;
}

.modules ol a {
    text-decoration: none;
    color: var(--main-navigation-color);
}

.modules ol a:hover {
    font-size: 1.1rem;
}

.modules ol a:visited {
    color: var(--visited-color);
}

@media (max-width: 768px) {
    .modules {
        position: absolute;
        top: var(--header-height); /* si tienes definida altura del header */
        left: 0;
        z-index: 1000;
        width: var(--aside-l-width);
        min-width: fit-content;
        height: calc( 100% - var(--header-height) - var(--footer-height));
    }
    .modules span {
        writing-mode: vertical-rl;
        padding: 10px;
        cursor: pointer;
        width: var(--aside-l-width);
        height: 100%;
    }
    .modules ol {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        width: 200px;
        height: 100%;
        border: 1px solid #333;
        padding: 0;
        margin: 0;
    }
    .modules:hover ol {
        display: block;
    }
}
