.share-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: var(--share-margin-top); 
    flex-wrap: wrap; 
}

.share-buttons img {
    width: var(--share-icon-size);
    height: var(--share-icon-size);
    margin-top: var(--share-margin-top);
}

.share-buttons img:hover {
    transform: scale(var(--share-hover-scale));
}

