{% extends "../base.njk" %}

{% block title %}{{ title }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/assets/css/header/header_nav.css" />
    <link rel="stylesheet" href="/assets/css/content/modules.css" />
    <link rel="stylesheet" href="/assets/css/content/main_content.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/monokai.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block header %}
    <nav class="header-nav">
        <a href="/pages/presentacion">Presentación</a>
        <a href="/pages/requisitos">Requisitos</a>
    </nav>
    <div class="support drop-menu">
        <span>¿Te gustó el sitio?</span>
        <div class="menu-content">
            <a href="/pages/support/suggest" target="_blank">Enviar sugerencias</a>
            <a href="/pages/support/error" target="_blank">Reportar un error</a>
            <a href="/pages/support/share" target="_blank">Compartir NeuroticLab</a>
            <a href="/pages/support/donations" target="_blank">Donaciones</a>
        </div>
    </div>
{% endblock %}

{% set left_aside_class="modules" %}
{% block left_aside %}
    <span>Módulos</span>
    <ol start="0">
        <li><a href="/pages/modules/00">Hablando el mismo idioma</a></li>
        <li><a href="/pages/modules/01">Perceptrón booleano</a></li>
        <li><a href="/pages/modules/02">Resolviendo XOR</a></li>
        <li><a href="/pages/modules/03">Empaquetando neuronas</a></li>
        <li><a href="/pages/modules/04">Neuronas trabajando en equipo</a></li>
        <li><a href="/pages/modules/05">Estructurando la inteligencia</a></li>
        <hr>
    </ol>
{% endblock %}

{% set main_class="left-200" %}
{% block content %}
    {{ content | safe }}
{% endblock %}

{% block scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/r.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
{% endblock %}
