<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NeuroticLab - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/variables.css" />
        <link rel="stylesheet" href="/assets/css/utilities.css" />
        <link rel="stylesheet" href="/assets/css/set_base.css" />
        <link rel="stylesheet" href="/assets/css/main.css" />
        {% block styles %}{% endblock %}
    </head>
    <body>
        <header class="horizontal-bar">
            <nav><a href="/" class="logo">NeuroTIClab</a></nav>
            {% block header %}{% endblock %}
        </header>
        <div class="site-middle">
            {% if left_aside_class is defined %}
                <aside class="{{ left_aside_class }}">
                    {% block left_aside %}{% endblock %}
                </aside>
            {% endif %}
            <main class="{{ main_class }}">
                <div id="main-content">
                    {% block content %}{% endblock %}
                </div>
            </main>
            {% if right_aside_class is defined %}
                <aside class="{{ right_aside_class }}">
                    {% block right_aside %}{% endblock %}
                </aside>
            {% endif %}
        </div>
        <footer class="horizontal-bar">
            <a href="/licencia/">LICENCIA</a>
            <p>Lo difícil no cambió. Tú sí.</p>
            <p>Hecho por Titux</p>
        </footer>
        {% block scripts %}{% endblock %}
    </body>
</html>