.header-title {
    display: flex;
    flex: 1 1 auto;
    min-width: 150px;
    max-height: 100%;
    padding-left: min( 50% - 151px - 960px/2, 500px - 151px);
}

.header-title > h1 {
    display: flex;
    flex-shrink: 0;
    height: 100%;
    margin: 0;
    width: 960px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    color: var(--main-navigation-color);
}