form {
    display: flex;
    flex-direction: column;
    max-width: var(--form-max-width);
    margin: 0 auto;
}

form * {
    box-sizing: border-box;
    justify-content: center;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--form-field-spacing);
}

input[type="email"],
textarea {
    padding: var(--form-input-padding);
    border: 1px solid var(--form-input-border-color);
    border-radius: var(--form-border-radius);
}

button {
    padding: var(--form-input-padding);
    background-color: var(--form-button-bg);
    color: var(--form-button-text-color);
    border: none;
    border-radius: var(--form-border-radius);
    cursor: pointer;
}

button:hover {
    background-color: var(--form-button-hover-bg);
}
